@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-2">Please feel free to look around!</h2>
    <p>Welcome to our page! As of @ViewData["TimeStamp"] this site is under construction </p>
</div>
